@font-face {
    font-family: 'space-mono';
    src: url("fonts/SpaceMono-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space-mono-bold';
    src: url("fonts/SpaceMono-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background: linear-gradient(135deg, #493b33, #384a3b, #9d5124);
    color: #ffffff;
    font-family: 'space-mono-bold', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-header {
    background: rgba(74, 62, 1, 0.345);
    padding: 20px 40px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(255, 3, 3, 0.493);
    max-width: 90%;
    margin: 20px auto;
    animation: gentleWobble 6s ease-in-out infinite;
}

.title {
    font-size: 2.5em;
    margin: 0;
    color: #ed9b4f;
}

@keyframes gentleWobble {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(1deg);
    }
}

.intro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    max-width: 1200px;
    margin: 25px auto;
    position: relative;
}

.intro-text, .sub-text-info {
    background: rgba(201, 61, 61, 0.441);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    color: #b8ef76;
    text-align: center;
    position: relative;
    animation: float 6s ease-in-out infinite;
}

.sub-text-info {
    background: rgba(105, 55, 55, 0.7);
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.version-info {
    background: #ff7e67;
    color: #0f2027;
    padding: 15px 30px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    max-width: 90%;
    margin: 20px auto;
    animation: gentleWobble 6s ease-in-out infinite;
}

.version-number {
    font-weight: bold;
}

.info-text {
    margin-left: 10px;
}
