body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(40deg, rgba(60, 66, 24, 1) 0%, rgba(75, 3, 27, 1) 35%, rgba(9, 66, 78, 1) 100%);
    background-size: 200% 200%;
    animation: waterFlow 5s linear infinite;
}

@keyframes waterFlow {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 100% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@keyframes glow {
    0% {
        filter: blur(0em);
        opacity: 0.5;
    }

    50% {
        filter: blur(0.05em);
        opacity: 0.9;
    }

    100% {
        filter: blur(0em);
        opacity: 0.5;
    }
}


.homebtn {
    position: absolute;
    bottom: 20px; /* Distance from bottom */
    right: 20px; /* Distance from right */
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #ff5733;
    cursor: pointer;
    text-align: center;
}

.glow {
    animation: glow 2s infinite;
}

